<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> -->
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/base.css">
        {% block head %}

        {% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="my-navbar">
            <h1 class="my-navbar-title">AMOVIES</h1>
            <ul class="my-navbar-buttons">
                <li><a href="{{ url_for('main.index' ) }}">Home</a></li>
                <li><a href="{{ url_for('main.pop_mouvies' ) }}">Recomended</a></li>
                <li><a href="/"></a>Info</li>

            </ul>
            <div class="profile">
                <form method="POST" action="{{ url_for('main.searcher_film' ) }}">
                    {{ csrf_token }}
                    <input name="query" type="text" placeholder="Search" />
                    <svg stroke="currentColor" fill="currentColor"
                        stroke-width="0" version="1" viewBox="0 0 48 48"
                        enable-background="new 0 0 48 48" height="30px"
                        width="30px" xmlns="http://www.w3.org/2000/svg"><g
                            fill="#616161"><rect x="34.6" y="28.1"
                                transform="matrix(.707 -.707 .707 .707 -15.154 36.586)"
                                width="4" height="17"></rect><circle cx="20"
                                cy="20" r="16"></circle></g><rect x="36.2"
                            y="32.1"
                            transform="matrix(.707 -.707 .707 .707 -15.839 38.239)"
                            fill="#37474F" width="4" height="12.3"></rect><circle
                            fill="#64B5F6" cx="20" cy="20" r="13"></circle><path
                            fill="#BBDEFB"
                            d="M26.9,14.2c-1.7-2-4.2-3.2-6.9-3.2s-5.2,1.2-6.9,3.2c-0.4,0.4-0.3,1.1,0.1,1.4c0.4,0.4,1.1,0.3,1.4-0.1 C16,13.9,17.9,13,20,13s4,0.9,5.4,2.5c0.2,0.2,0.5,0.4,0.8,0.4c0.2,0,0.5-0.1,0.6-0.2C27.2,15.3,27.2,14.6,26.9,14.2z"></path></svg>
                </form>
                <img src="/static/images/bell.png" alt>
                <img src="/static/images/gift.png" alt>

                {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.prf' ) }}"><img
                    src="/static/media/{{current_user.avatar}}" class="shrek" alt></a>
                {% else %}
                <a href="{{ url_for('main.prf' ) }}"><img
                    src="/static/images/shrek.jfif" class="shrek" alt></a>
                {% endif %}


                
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.log_out') }}"
                class="log_out"
                >Log Out</a>
                {% else %}
                <a href="{{ url_for('auth.log_in') }}"
                class="log_out"
                >Log In</a>
                {% endif %}

            </div>
        </div>
        {% block content %}

        {% endblock %}
    </body>
</html>